.home {
  position: relative;
  flex-shrink: 0;
  margin: 0 30px;
  background: var(--dark-dark-5, rgba(19, 17, 24, 0.05));
  overflow: hidden;
}
.bestseller {
  position: absolute;
  bottom: -50px;
  color: var(--white-500, #fff);
  font-family: Jost;
  font-size: 217px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.7;
  z-index: 0;
}
.home-banner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home-banner-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 45px;
}

.home-rectangle {
  width: 50%;
  height: 885px;
  position: relative;
  z-index: 2;
}
.home-rec {
  border: 24px solid var(--white-500, #fff);
  width: 90%;
  height: 724px;
  margin: 100px 26px;
}
.home-rectangle1 {
  border: 24px solid var(--white-500, #fff);
  width: 90%;
  height: 362px;
  margin: 100px 26px;
  position: absolute;
  bottom: -25px;
  border-top: none;
}

.home-img {
  position: absolute;
  top: 0;
  width: 600px;
  height: 100%;
}
.home-img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.home-banner-info-text p {
  color: var(--dark-500, #131118);
  font-family: Jost;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home-banner-info-text h1 {
  color: var(--dark-500, #131118);
  font-family: Jost;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.home-banner-info-text h2 {
  color: var(--dark-500, #131118);
  font-family: Jost;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.home-banner-info button {
  display: flex;
  width: 256px;
  height: 56px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--dark-500, #131118);
  color: var(--white-500, #fff);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.our_bestseller-products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  text-align: center;
}
.our_bestseller-product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.our_bestseller-product:hover .our_bestseller-img {
  background: var(--gray-gray-10, rgba(164, 161, 170, 0.1));
}
.our_bestseller-products img {
  padding: 30px;
  width: 100%;
  height: 330px;
  flex-shrink: 0;
  object-fit: contain;
}
.our_bestseller-img {
  background: var(--gray-gray-5, rgba(164, 161, 170, 0.05));
  position: relative;
  height: 400px;
  width: 100%;
}
.our_bestseller-img:hover .our_bestseller-common {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.our_bestseller-common {
  visibility: hidden;
  opacity: 0;
}
.our_bestseller-icons {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 15px;
  right: 10px;
}
.our-bestseller-cart {
  display: flex;
  width: 222px;
  height: 50px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--white-500, #fff);
  position: absolute;
  bottom: 30px;
  left: 20px;
  color: var(--dark-500, #131118);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.our_bestseller-icons button {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--white-500, #fff);
}

.price {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.price h3 {
  color: var(--dark-500, #131118);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.price h4 {
  position: relative;
  color: var(--gray-500, #a4a1aa);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.price h4::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-top: 1px solid var(--gray-500, #a4a1aa);
  transform: translateY(-50%);
}

.our_bestseller {
  margin: 100px 0;
}
.our_best {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.our_bestseller-text {
  width: 100%;
  height: 60px;
  color: var(--dark-500, #131118);
  text-align: center;
  font-family: Jost;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.our-bestseller-txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.our-bestseller-txt h1 {
  color: var(--dark-500, #131118);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.our-bestseller-txt h2 {
  color: var(--dark-500, #131118);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.deals-month {
  display: flex;
  align-items: center;
  gap: 30px;
}
.deals-month-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
.deals-month-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.deals-month-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.deals-month-info p {
  color: var(--dark-500, #131118);
  font-family: Jost;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.deals-month-info span {
  text-align: justify;
  color: var(--dark-500, #131118);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.deals-month-text button {
  border: none;
}
.deals-month-text button a {
  display: flex;
  width: 296px;
  height: 56px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 13px;
  border-radius: 10px;
  background: var(--dark-500, #131118);
  color: var(--white-500, #fff);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.deals-month-img {
  width: 553px;
  height: 499px;
}
.deals-month-img img {
  width: 100%;
}
.counters {
  width: 404px;
  height: 86px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.counter {
  width: 86px;
  height: 86px;
  border-radius: 10px;
  border: 1px solid var(--gray-gray-20, rgba(164, 161, 170, 0.2));
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.counter__inner span {
  color: var(--dark-500, #131118);
  text-align: center;
  font-family: Jost;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.counter__inner p {
  color: var(--dark-500, #131118);
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.feedbacks {
  background: var(--gray-gray-5, rgba(164, 161, 170, 0.05));
}

.feedback {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.shop-category {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.feedback-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.shop-category-up {
  display: flex;
  justify-content: space-between;
}
.feedback-up p,
.shop-category-up p {
  color: var(--dark-500, #131118);
  font-family: Jost;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.shop-by-category {
  margin-top: 100px;
}
.shop-category-arrow {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.feedback-arrow {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.feedback-arrow-left,
.shop-category-arrow-left {
  display: flex;
  width: 56px;
  height: 56px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--gray-gray-10, rgba(164, 161, 170, 0.1));
}
.feedback-arrow-right,
.shop-category-arrow-right {
  display: flex;
  width: 56px;
  height: 56px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--dark-500, #131118);
}
.feedback-down-card {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.feedback-down {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.feedback-down-cards {
  border-radius: 10px;
  padding: 30px;
  background: var(--white-500, #fff);
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.02),
    0px 10px 40px -4px rgba(16, 24, 40, 0.02);
  width: 360px;
  height: 230px;
  display: flex;
  flex-direction: column;
}
.feedback-person {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  width: 300px;
  height: 48px;
}
.feedback-person img {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.feedback-person-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.feedback-person-name h1 {
  color: var(--dark-500, #131118);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.feedback-person-name h2 {
  color: var(--gray-500, #a4a1aa);
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.instagram {
  margin: 100px 0;
}
.insta {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.insta-text p {
  color: var(--dark-500, #131118);
  text-align: center;
  font-family: Jost;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.insta-stories {
  display: flex;
  justify-content: space-between;
}
.insta-story {
  width: 262px;
  height: 262px;
  position: relative;
}
.insta-story1 {
  width: 262px;
  height: 262px;
  position: relative;
}
.insta-story img {
  width: 262px;
  height: 262px;
  object-fit: cover;
}
.insta-story1 img {
  width: 262px;
  height: 262px;
}
.insta-story:hover .insta-icon {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}
.insta-story1:hover .insta-icon {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}
.insta-icon {
  width: 40px;
  height: 40px;
  padding: 20px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--white-500, #fff);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
}
.insta-icon svg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shop-category-down {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}
.shop-category-card {
  width: 275px;
  height: 360px;
  background: var(--dark-dark-5, rgba(154, 136, 172, 0.05));
  position: relative;
  overflow: hidden;
}
.shop-category-card button {
  display: flex;
  width: 222px;
  height: 50px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--white-500, #fff);
  color: var(--dark-500, #131118);
  border: none;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  bottom: 20px;
  left: 25px;
}
.shop-category-img {
  position: absolute;
  width: 221px;
  height: 347px;
  bottom: 0;
  right: 0;
}
.shop-category-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.shop-category-text {
  color: var(--dark-dark-5, rgba(19, 17, 24, 0.1));
  font-family: Jost;
  font-size: 74.359px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  left: 50px;
  top: -20px;
  width: 100%;
  height: 110px;
}

.product-up {
  display: inline-flex;
  align-items: center;
}
.product-up p {
  color: var(--dark-500, #131118);
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product-up svg {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 5.208px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
