@media only screen and (max-width: 768px) {
  .features-cards {
    display: flex;
    justify-content: space-between;
  }
  .features-card:nth-child(4) {
    display: none;
  }
  .features-card {
    width: 170px;
    height: 150px;
  }
}
@media only screen and (max-width: 1100px) {
  .features-card {
    width: 170px;
    height: 150px;
  }
  .features-text h1 {
    color: var(--dark-500, #131118);
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .features-text h2 {
    color: var(--dark-500, #131118);
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media only screen and (max-width: 630px) {
  .features-cards {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr;
  }

  .features-card {
    margin: 0 auto;
    width: 310px;
  }
  .features-text h1 {
    color: var(--dark-500, #131118);
    font-family: Jost;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .features-text h2 {
    color: var(--dark-500, #131118);
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media only screen and (max-width: 425px) {
  .features-cards {
    gap: 10px;
  }
  .features-card{
    width: 190px;
    height: 190px;
  }
  .features-text h1 {
    color: var(--dark-500, #131118);
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .features-text h2 {
    color: var(--dark-500, #131118);
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}