.aside {
  position: fixed;
  height: 101vh;
  width: 101vw;
  background-color: white;
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  z-index: -2;
  align-items: center;
  transform: translate(-100%);
  transition: 0.5s;
}
.sidebarActive {
  transform: translate(0%);
  z-index: 999999 !important;
}
.container {
  width: 90%;
}
.logoClose {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ul {
  padding: 0;
  margin: 40px 0 0 0;
}
.navlinks {
  width: 100%;
}
.menuItem {
  list-style: none;
  height: 55px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  padding: 0 5%;
  transition: 0.3s;
}
.menuItem:hover {
  background-color: #f1f5f8;
}
.menuItem:hover > a {
  transition: 0.5s;
  transform: translate(3%);
}
.icons {
  display: flex;
  align-items: center;
}
.icons button {
  border: none;
}
.icons button a {
  display: flex;
  width: 100px;
  height: 30px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--dark-500, #131118);
  color: var(--white-500, #fff);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart {
  height: 100px;
  width: 100%;
}

.icons {
  display: flex;
  padding: 5%;
  justify-content: space-around;
}
@media only screen and (max-width: 800px) {
  .aside {
    height: 102vh;
  }
}
@media only screen and (max-width: 630px) {
  .aside {
    height: 103vh;
  }
}
@media only screen and (max-width: 440px) {
  .aside {
    height: 106vh;
    width: 105vw;
  }
}
@media only screen and (max-width: 375px) {
  .aside {
    height: 107vh;
  }
}
