@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,400;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  background-color: #fff;
}
header {
  width: 100%;
  height: 70px;
  background: var(--white-500, #fff);
}
.container {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}
.header-logo {
  display: flex;
  width: 145px;
  height: 70px;
  justify-content: center;
  align-items: center;
}
.header ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header ul li {
  color: var(--dark-500, #dd8a15);
  text-align: center;
  font-family: Jost;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header button {
  border: none;
}
header button a {
  display: flex;
  width: 98px;
  height: 48px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--dark-500, #131118);
  color: var(--white-500, #fff);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.has-dropdown {
  position: relative;
}
.dropdown {
  position: absolute;
  top: 70px;
  left: -300px;
  display: flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
  gap: 50px;
  display: flex;
  width: 1100px;
  padding: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 237, 237);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  z-index: 9;
}
.has-dropdown:hover .dropdown {
  visibility: visible;
  opacity: 1;
}
.megamenu-card1 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 165px;
  height: 357px;
}
.megamenu-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.megamenu-up {
  width: 106px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.megamenu-down {
  width: 165px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.megamenu-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.megamenu-inner-up a {
  color: var(--dark-500, #131118);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.megamenu-inner li {
  width: 150px;
}
.megamenu-inner a {
  color: var(--dark-500, #131118);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mega_rectangle {
  width: 2px;
  border: 1px solid gray;
  opacity: 0.1;
  height: 357px;
}
footer {
  width: 100%;
  height: 450px;
  background: var(--dark-500, #131118);
  color: #fff;
}
.footer a {
  color: inherit;
}
.footer-up {
  display: flex;
  gap: 25px;
  padding-top: 50px;
  padding-bottom: 80px;
}
.footer-connection {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer ul {
  width: 250px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: var(--white-500, #fff);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer ul li {
  color: var(--white-500, #fff);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.subscribe {
  width: 350px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.icon {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  height: 32px;
  width: 260px;
}
.subscribe p {
  color: var(--white-500, #fff);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.subscribe span {
  color: var(--white-500, #fff);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.subscribe button {
  border: none;
  outline: none;
  width: 100%;
}
.subscribe button a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 13px 16px;
  align-items: center;
  border: 1px solid var(--white-500, #fff);
}
.footer-btn {
  width: 110px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-down {
  padding-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer-down-icon {
  display: flex;
  gap: 10px;
}
.footer-down .footer-down-sm {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}